DISCORD_TOKEN: dis-token
YOUTUBE_TOKEN: yt-token
DEFAULT_VOLUME=0.5
IDLE_DISCONNECT_SECONDS=300

POSTGRES_DB_URL=<postgres-url>

REDIS_URL=redis://redis:6379/0

CELERY_BROKER_URL=amqp://agent:rabbit@rabbitmq:5672/myvhost
CELERY_RESULT_BACKEND=redis://redis:6379/1
